<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @achievement.player.name %>
</p>

<p>
  <strong>Trophy:</strong>
  <%= @achievement.trophy.name %>
</p>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
